<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="base">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
<div layout:fragment="page_content">
    <h1>Admin Panel</h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link" href="/admin">Users table</a>
        </li>
        <li class="nav-item">
            <a data-toggle="tab" class="nav-link active" href="#newUser">New User</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="allUsers" class="tab-pane active">
            <div class="card">
                <div class="card-header"><p><strong>Add new user</strong></p></div>
            </div>
            <div id="newUser" class="tab-pane active" style="background-color: white">
                <form th:method="POST" th:action="@{/admin/addUser}" th:object="${user}">
                    <div class="row justify-content-center">
                        <div class="col-3 mt-5">
                            <div class="d-grid gap-4 text-center">
                                <div class="form-group">
                                    <label for="login"><strong>Login</strong></label>
                                    <input type="text" th:field="*{login}" id="login" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label for="password"><strong>Password</strong></label>
                                    <input type="text" th:field="*{password}" id="password" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label for="email"><strong>Email</strong></label>
                                    <input type="text" th:field="*{email}" id="email" class="form-control"/>
                                </div>
                                <div class="form-group">
                                    <label for="age"><strong>Age</strong></label>
                                    <input type="text" th:field="*{age}" id="age" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="securityRolesList"><strong>Role</strong></label>
                                    <select id="securityRolesList" th:field="*{securityRolesList}" size="2" multiple="multiple" class="form-control">
                                        <option th:each="str : ${roleList}"
                                                th:value="${{str}}"
                                                th:text="${str.role}">
                                            USER
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Add new user" class="btn btn-success"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>